# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
uv.lock

# Specific to this project
.env
outputs/
audios/
data/hospitals.sqlite
ai_voice_bot_hospital.egg-info/
test_recognizer_output.json

# IDEs and others
.vscode/
.idea/
*.swp
*.bak
*.swo
